<?xml version='1.0' ?> <!-- -*- xml -*- -->
<!-- $chaos: module.xml,v 1.4 2002/05/27 21:29:29 per Exp $ -->

<chapter id="module">
  <?dbhtml filename="module.html"?>
  <title>The Module Subsystem</title>
  <section>
    <title>
      Overall design
    </title>
    <para>
      The module subsystem is one of the key features of storm G3. It
      replaces the old server system that we used in older versions of
      the system.
    </para>
  </section>
  
  <section>
    <?dbhtml filename="module_data_structures.html"?>
    <title>Data Structures</title>
    <para>
      <programlisting id="module_t">
typedef struct
{
    /* The magic cookie is unique for this type of data structure. */
    uint32_t magic_cookie;

    /* The module ID. */
    <link linkend="data_types">module_id_t</link> mid;

    /* The class name of this module. */
    char *class;

    /* The name of this module. */
    char *name;

    /* Reference counter -- to handle module dependencies. */
    <link linkend="data_types">count_t</link> reference_count;
} module_t;
      </programlisting>
    </para>
  </section>

  <section>
    <?dbhtml filename="module_functions.html"?>
    <title>Functions</title>
    <para>
      The following functions are defined by this module.

      <programlisting>
	return_t module_add (module_header_t *module_header);
      </programlisting>
      
      Install the given module in the kernel.

      <programlisting>
	return_t module_remove (module_id_t module_id);
      </programlisting>
      
      Uninstall the given module from the kernel.
    </para>
  </section>
</chapter>
